@charset "UTF-8";

/**
 * @author Vincent Hébert
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Formulaire
 * Mise en page
 ***
 ***
 ***
 *
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);

/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Formulaire
   ========================================================================== */
@import url(_form.css);

/* Mise en page
   ========================================================================== */
.conteneur{
    padding:2rem;
}
@media(min-width:600px){
    .conteneur{
        max-width:1000px;
        margin:auto;
    }
}
body {
    background: white;
}
@media (min-width: 600px) {
    body {
        background: linear-gradient(#70FFCB, #CFFFF6);
        margin: 10px;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.375;
    }
}
/* ========================================================================== */

form {
    width: 100%;
}
@media (min-width: 600px) {
    form {
        width: 200%;
    }
}
.participation {
    background: #E3E3E3;
}
.question {
    background: #E3E3E3;
}
aside {
    background: none;
}
@media (min-width: 600px) {
    aside {
        background: #DCDCDC;
    }
}
fieldset{

}
h1{
    margin: 5px;
    display: block;
}
.nom .rangee,
.prenom .rangee,
.indicatif .rangee,
.numero .rangee,
.jour .rangee,
.mois .rangee.
.annee .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
:focus{
    outline: #349194 auto 5px;
}
footer {
    display: flex;
    justify-content: center;
}